body {
    width: auto;
    height: auto;
}

#game-screen-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

#game-screen {
    width: 1060px;
    height: 500px;
}
